@import 'tailwindcss';
@import 'tw-animate-css';

@import './light.css';
@import './dark.css';

@custom-variant dark (&:is(.dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* 自定义颜色 */
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-action: var(--action);
}

@theme {
  --animate-record-flash: flash 1.5s ease-in-out infinite;
  --animate-record-flash-fast: flash 0.8s ease-in-out infinite;
  --animate-record-flash-slow: flash 2s ease-in-out infinite;

  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground select-none;
  }
}

@utility shotBorderBase {
  @apply pointer-events-none absolute bg-blue-300;
}

@utility shotPointBase {
  @apply absolute size-2 -translate-1/2 rounded-full bg-blue-300;
}

@layer components {
  .webkit-app-region-drag {
    -webkit-app-region: drag;
    user-select: none;
  }
  .webkit-app-region-no-drag {
    -webkit-app-region: no-drag;
  }

  .image-rendering-optimize {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -webkit-font-smooting: antialiased;
  }

  .shot-border-top {
    @apply shotBorderBase;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }
  .shot-border-right {
    @apply shotBorderBase;
    left: 100%;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }
  .shot-border-bottom {
    @apply shotBorderBase;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }
  .shot-border-left {
    @apply shotBorderBase;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }

  .shot-point-top {
    @apply shotPointBase;
    left: 50%;
    top: 0;
    cursor: ns-resize;
  }

  .shot-point-top-right {
    @apply shotPointBase;
    left: 100%;
    top: 0;
    cursor: nesw-resize;
  }
  .shot-point-right {
    @apply shotPointBase;
    left: 100%;
    top: 50%;
    cursor: ew-resize;
  }
  .shot-point-right-bottom {
    @apply shotPointBase;
    left: 100%;
    top: 100%;
    cursor: nwse-resize;
  }
  .shot-point-bottom {
    @apply shotPointBase;
    left: 50%;
    top: 100%;
    cursor: ns-resize;
  }
  .shot-point-bottom-left {
    @apply shotPointBase;
    left: 0;
    top: 100%;
    cursor: nesw-resize;
  }
  .shot-point-left {
    @apply shotPointBase;
    left: 0;
    top: 50%;
    cursor: ew-resize;
  }
  .shot-point-left-top {
    @apply shotPointBase;
    left: 0;
    top: 0;
    cursor: nwse-resize;
  }

  .shot-magnifier-cross {
    @apply relative bg-white;
    &:before {
      content: '';
      background-color: rgb(10, 114, 161);
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      z-index: 1;
    }
    &:after {
      content: '';
      background-color: rgb(10, 114, 161);
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 100%;
      z-index: 1;
    }
  }
}
